.nav a {
  position: relative;
  padding: 0 3px;
  margin: 2px 6px;
}

.nav a::before, .nav a::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #fc2f70;
  transform: scaleY(0);
  transition: transform 0.5s ease;
}

.nav a::before {
  left: 0px;
  transform-origin: center top;
}

.nav a:hover::before {
  transform-origin: center bottom;
  transform: scaleY(1);
}

.nav a::after {
  right: 0px;
  transform-origin: center bottom;
}

.nav a:hover::after {
  transform-origin: center top;
  transform: scaleY(1);
}
